.seat.bg-gray-800.h-8.w-8.m-1.rounded-t-lg.hover_cursor-pointer.hover_scale-125.text-white.text-center class=[type_seat == "INACTIVE" ? "invisible" : ""] data={action:"click->booking#selectSeat"} row-index="#{row_index}" column-index="#{column_index}" class=[(sold_ticket&.present? || selecting_seat&.present?)  ? "sold noHover" : ""] id="seat_#{row_index}_#{column_index}_#{showtime_id}"
  = seat_number_format(row_index, column_index)