= tag.div id: :notifications_count do 
  - if count > 0
    .absolute.inline-flex.items-center.justify-center.w-6.h-6.text-xs.font-bold.text-white.bg-red-500.border-2.border-white.rounded-full.-top-2.-right-2
      = count > 9 ? "+9" : count