.seat {
  @apply bg-gray-800 h-8 w-8 m-1 rounded-t-lg hover_cursor-pointer hover_scale-125 text-white text-center;
}

.seat.selected {
  @apply bg-red-700;
}

.seat.sold {
  @apply bg-slate-300;
}

.seat.active {
  @apply bg-lime-600;
}

.row {
  display: flex;
}

.screen {
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.showcase .seat:hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.showcase li small {
  margin-left: 2px;
}
.noHover {
  pointer-events: none;
}
